<style>
    #footer {
        border-top: 1px solid #e5e5e5;
        color: #777;
        padding: 19px 0;
        background-color: #f5f5f5;
    }
</style>
<div class="footer">
    <hr style="width: 1140px">
    <div class="container">
        <div class="row footer-top">
            <div class="col-sm-6 col-lg-6">
                <h4>任何质变都来自于量变的积累</h4>
                <p>感谢您的浏览，开源是一种精神</p>
            </div>
            <div class="col-sm-6 col-lg-5 col-lg-offset-1">
                <div class="row about">
                    <div class="col-xs-3"  style="text-align: center">
                        <h4>LINKS</h4>
                        <hr>
                        <ul class="list-unstyled">
                           <li>
                                <a title="GitHub" target="_blank" href="https://github.com/kurolz">GitHub</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-3" style="text-align: center">
                        <h4>CONTACT</h4>
                        <hr>
                        <ul class="list-unstyled">
                            <li>
                                <a title="qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=526653382&site=qq&menu=yes">QQ-CON</a>
                            </li>
                            <hr>
                            <li>
                                <a title="Email" href="Mailto:kurolz@163.com">E-mail</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li>Copyright ©2017. n 谢育政的个人博客 Software All Rights Reserved.</li>
            </ul>
        </div>
    </div>
</div>
